ul {
  overflow-y: auto;
  list-style: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap:10px;
  height: auto;
  max-height: 85vh;

  li {
    color: white;
    width: 100%;
    height: 150px;
    background-color: #191D20;
    opacity: 0.7;
    border-radius: 10px;
    mat-divider {
      color: lightgrey;
    }

    .date-model {
      font-weight: lighter;
      padding-left: 5px;
    }

    .card-body {
      display: flex;
      height: 75%;
      padding: 10px;
      align-items: center;
      gap: 12px;

      img {
        height: 100%;
      }
    }
  }
}
