ul {
  overflow-y: auto;
  list-style: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  max-height: 88vh;
  margin: 0;
  padding: 0;

  li {
    color: white;
    width: 100%;
    height: 150px;
    background-color: #191D20;
    opacity: 0.7;
    border-radius: 10px;
    cursor: pointer;
    mat-divider {
      color: lightgrey;
    }

    .date-model {
      font-weight: lighter;
      padding-left: 5px;
    }

    .card-body {
      display: flex;
      height: 75%;
      padding: 10px;
      align-items: center;
      gap: 12px;

      img {
        height: 100%;
      }

      span {
        margin: 12px;
      }
    }
  }
}
