<mat-toolbar>

  <!--Search a model by his name -->
  <div class="search-container">
    <form class="example-form">
      <mat-form-field class="example-full-width">
        <mat-label>Chercher un modèle 3D</mat-label>
        <input type="text"
               placeholder="Chercher par nom"
               aria-label="Nom"
               matInput
               [formControl]="modelName"
               [matAutocomplete]="auto">
        <mat-autocomplete #auto="matAutocomplete">
          @for (model of modelList; track model) {
            <mat-option [value]="model">{{model}}</mat-option>
          }
        </mat-autocomplete>
      </mat-form-field>
    </form>
  </div>

  <!--Add a new model -->
  <button mat-button routerLink="/create" class="add-model-btn">
    <mat-icon>
      add
    </mat-icon>
    <span>Ajouter un modèle 3D</span>
  </button>

</mat-toolbar>

<div class="content-container">
  <div class="main-list-container">
      <app-list></app-list>
  </div>
  <div class="model-container">
    <app-model-details></app-model-details>
  </div>
</div>
