<form [formGroup]="form">
  <mat-form-field>
    <label>Nom* :</label>
    <input matInput type="text" id="name" formControlName="name">
  </mat-form-field>
  <mat-form-field>
    <label>Auteur* :</label>
    <input matInput type="text" id="author" formControlName="author">
  </mat-form-field>
  <mat-form-field *ngIf="!!form.controls['date']">
    <label>Publié le* :</label>
    <input matInput [matDatepicker]="picker" formControlName="date" placeholder="Choose a date">
    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
    <mat-datepicker #picker></mat-datepicker>
  </mat-form-field>
  <mat-form-field>
    <label>Polygones :</label>
    <input matInput type="number" id="polygons" formControlName="polygons">
  </mat-form-field>
  <mat-form-field *ngIf="!!form.controls['modelName']">
    <label>Nom du fichier :</label>
    <input matInput type="text" id="modelName" formControlName="modelName">
  </mat-form-field>
  <mat-form-field>
    <label>Description :</label>
    <textarea matInput id="description" formControlName="description"></textarea>
  </mat-form-field>
</form>